@font-face {
  font-family: 'RSU';
  src: url('../../fonts/font-rsu/RSU_light.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/font-rsu/RSU_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/font-rsu/RSU_light.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/font-rsu/RSU_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/font-rsu/RSU_light.svg#ac6e9b90afb21b73dea18ce66d7ad6d1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'RSU';
  src: url('../../fonts/font-rsu/RSU_BOLD.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/font-rsu/RSU_BOLD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/font-rsu/RSU_BOLD.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/font-rsu/RSU_BOLD.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/font-rsu/RSU_BOLD.svg#a3f199ee3bb35acc8aa810f68c17b7c6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'RSU';
  src: url('../../fonts/font-rsu/RSU_Regular.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/font-rsu/RSU_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/font-rsu/RSU_Regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/font-rsu/RSU_Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/font-rsu/RSU_Regular.svg#75988ec7a180ed96d48291db84701f84') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

.hide{
  display: none !important;
}

/* Slider Image */
li.product .product-img-wrapper .pt-extra-gallery-img img{
	width: 100%;
}

/* Cart Top */
.widget.woocommerce .product_list_widget li img{
	width: 100%;
}

.widget.widget_shopping_cart .buttons .button{
  display: block;
  width: 100%;
  text-align: center;
  margin: 5px 0;
  font-size: 13px !important;
}

/* Menu */
.header-primary-nav .suppa_menu span.suppa_item_title, 
.header-primary-nav .suppaMenu .suppa_dropdown_item_container a span.suppa_item_title{
	font-family: 'RSU' !important;
	font-size: 15px !important;
	padding-top: 16px;
	font-weight: 400;
}

.logo-wrapper {
  padding: 10px 0 0 !important;
}

/* Front page */
.header-primary-nav .suppa_top_level_link.home-page span{
	padding-left: 28px;
}

.woocommerce-MyAccount-navigation ul li{
  padding: 10px 0;
}

.woocommerce-MyAccount-navigation ul li:first-child{
  padding: 5px 0 10px;
}

.woocommerce-MyAccount-navigation ul li:last-child{
  padding: 10px 0 5px;
}

.widget_dash_categories .pt-categories li{
  overflow: hidden;    
  white-space: nowrap;
  font-size: 13px;
}

.widget{
  padding: 25px 15px !important;
}

.widget-title{
  font-family: 'RSU' !important;
  font-size: 25px !important;
}

.widget_nav_menu .menu li a{
  color: #fff;
}

/* Dropdown */
.header-primary-nav .suppaMenu .suppa_dropdown_item_container a span.suppa_item_title{
	padding-top: 0;
}


/* Dropdown Arrow */
.primary-nav .suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box{
	margin-top: 1px;
}

.ig-list-icons h4{
	font-family: 'RSU' !important;
	font-size: 17px !important;
	font-weight: 700;
}


/* Page Title */
.pagebuilder-heading, .page-title{
	font-family: 'RSU' !important;
}


/* Top Menu */
.header-top .header-top-nav a,
.header-top a.login_button{
  font-family: 'RSU' !important;
  font-size: 15px;
}

#dash_search-2{
  margin-bottom: 0;
}

/* Form */
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio], .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{
  display: none;
}

.wpcf7 input[type=radio]:checked + span:before, .gform_wrapper .gfield_radio li input[type="radio"]:checked + label:before{
  content: '\f05d'; 
}

.wpcf7 input[type=radio] + span:before, .gform_wrapper .gfield_radio li input[type="radio"] + label:before{
  content: '\f10c';
  top: 1px;
  left: 1px;
  font-size: 17px;
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio]{
  display: none;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit]{
  height: auto;
  padding: 10px 25px;
  color: #fff;
  background: #f7972b;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit]{
  font-family: 'RSU';
}

.gform_wrapper input[type=file]{
  background: #f9f9f9;
}

.gf_browser_chrome.gform_wrapper{
  background: #f9f9f9;
  padding: 15px 25px;
}

.wpcf7 input[type="radio"] + span, .wpcf7 input[type="checkbox"] + span, .gform_wrapper .gfield_checkbox li input[type="checkbox"] + label, .gform_wrapper .gfield_radio li input[type="radio"] + label{
  margin-left: 0;
  height: 18px;
  line-height: 18px;
  font-weight: normal;
  font-size: 13px;
}

#gform_wrapper_2{
  max-width: 100% !important;
  margin: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required{
  width: 100% !important;
}

.gform_wrapper ul.gform_fields li.gfield{
  margin-bottom: 20px !important;
  margin-top: 0 !important;
}


/* Login */
.ajax-auth h3{
  display: none;
}

.ajax-auth h1{
  font-family: 'RSU';
}

#register input.submit_button{
  width: auto;
}

.ajax-auth label.error{
  padding: 5px;
}

#status{
  font-family: 'RSU';
  font-size: 16px;
  margin-top: 10px;
}

.fb_login_container{
  clear: both;
  padding: 20px 0 0;
}

.fb_login{
  display: inline-block;
  padding: 5px 10px;
  background: #3b5998;
  color: #fff !important;
}

.fb_login span{
  font-family: 'RSU';
  display: inline-block;
  position: relative;
  top: -3px;
}

.fb_login:hover{
  color: #fff !important;
}

.fb_login i{
  font-size: 20px;
  padding: 5px;
}

.status{
  font-family: 'RSU' !important;
  padding: 10px 0 0;
  font-size: 16px;
}

/* Product */
div.product .woocommerce-tabs ul.tabs li a,
div.product .woocommerce-tabs .panel h2:first-of-type,
.related > h2, .upsells > h2, .wcv-related > h2,
div.product .product_title,
.breadcrumbs-wrapper .woocommerce-breadcrumb{
  font-family: 'RSU' !important;
}

.pt-woo-shortcode.with-slider .title-wrapper h3, .pt-posts-shortcode.with-slider .title-wrapper h3{
  font-family: "RSU" !important;
  font-size: 30px;
}

/* Blog */
.widget.widget_search{
  padding: 0 !important;
}

/* Cart */
.table.shop_table.cart th,
.woocommerce .checkout .woocommerce-billing-fields h3{
  font-family: 'RSU' !important;
}

/* Shop */
div.product .social-links{
  padding-top: 0px;
}

div.product .social-links .pt-post-share{
  margin-top: 10px;
}

div.product .special-buttons-wrapper .compare, div.product .special-buttons-wrapper .yith-wcwl-add-to-wishlist a{
  margin-bottom: 10px;
}

#billing_address_1_field textarea{
  padding: 10px !important;
  height: 120px !important;
}

.u-column2.col-2.woocommerce-Address{
  display: none;
}

.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_cat{
  width: 80% !important;
  padding-top: 5px;
  float: left;
}

.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_cat > a{
  float: left;
  width: 33%;
}

.jckqvBtn{
  float: none !important;
  width: 100%;
}

li.product .product-description-wrapper .link-to-product {
  margin-right: 0;
}

/* Gallery */
.site-main .select2-container .select2-choice{
  border: 1px solid #f7972b;
}
.site-main .select2-container .select2-choice .select2-arrow{
  border-left: 1px solid #f7972b;
}

.site-main .select2-container .select2-choice .select2-arrow:after{
  color: #f7972b;
}

.gallery-item-description .link-to-post{
  display: none;
}

/* Responsive */
@media (max-width: 1200px) {
  .site-logo{
    width: 100% !important;
    text-align: center;
  }
}

.ajax-auth input#username, .ajax-auth input#password, .ajax-auth input#signonname, .ajax-auth input#email, .ajax-auth input#signonpassword, .ajax-auth input#password2 {
  margin-bottom: 10px;
}


@media (max-width: 600px) {

  .woocommerce .checkout .payment_method_paypal img {
    display: block;
    margin: 0;
  }

  .woocommerce .checkout ul.payment_methods li:last-of-type:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }

  .woocommerce .checkout ul.payment_methods label {
    height: auto;
  }

}

@media (max-width: 480px) {
  div.product .woocommerce-tabs:before{
    display: none !important;
  }
}

@media (max-width: 1090px) {
  .primary-nav.suppaMenu_wrap.suppaMenu_wrap_wide_layout .suppaMenu{
    display: none !important;
  }
  .primary-nav.suppaMenu_wrap.suppaMenu_wrap_wide_layout .suppaMenu_rwd_wrap{
    display: block !important;
  }
}